<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/navigation") %>

        <p>
            Variable content = <%= content %>
        </p>
    </body>
</html>